<div [formGroup]="parts"
     class="app-time-input-container"
     #containerEl
     (focusin)="onFocusIn()"
     (focusout)="onFocusOut($event)">
  <input [formControl]="hours" maxlength="2" size="2" #hoursEl (keydown)="hoursKeyDown($event)">
  <span>:</span>
  <input [formControl]="minutes" maxlength="2" size="2" #minutesEl (keydown)="minutesKeyDown($event)">
  <ng-container *ngIf="twelveHourFormat">
    <span class="spacer"></span>
    <input [formControl]="twelveHourPeriods" maxlength="2" size="2" (keydown)="twelveHourPeriodKeyDown($event)"
           #twelveHourPeriodsEl>
  </ng-container>
</div>
