<div [formGroup]="form">
  <mat-card>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name">
      <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Time</mat-label>
      <app-time-input [formControl]="time" [twelveHourFormat]="twelveHourFormat" ></app-time-input>
      <mat-icon matSuffix>schedule</mat-icon>
      <mat-error *ngIf="time.invalid">{{getTimeErrorMessage()}}</mat-error>
    </mat-form-field>

  </mat-card>
</div>

<div>{{simpleTime|json}}</div>
<input type="time" name="appt" [(ngModel)]="simpleTime">
